/* Estilos para index.html */
header, footer {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .intro h2 {
    margin-top: 20px;
    color: #333;
  }
  
  .intro p {
    color: #666;
    max-width: 600px;
    margin: 0 auto 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2 {
    color: #333;
  }
  
  /* Estilos de la caja de login */
  .login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 50px auto;
  }
  
  .login-box form {
    display: flex;
    flex-direction: column;
  }
  
  .login-box label {
    text-align: left;
    margin-bottom: 5px;
    color: #666;
  }
  
  .login-box input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .login-box button {
    padding: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-box button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos del dashboard */
  .sidebar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 15px 0;
  }
  
  .sidebar a {
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .course-list {
    list-style-type: none;
    padding: 0;
  }
  
  .course-list li {
    padding: 10px;
    background-color: #f8f8f8;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
/* Hace que la imagen sea responsiva */
.responsive-image {
  width: 100%;          /* La imagen ocupará el 100% del ancho del contenedor */
  height: auto;         /* La altura se ajustará proporcionalmente */
  max-width: 600px;     /* Limita el tamaño máximo de la imagen */
  border-radius: 8px;   /* (Opcional) Bordes redondeados para mejorar la estética */
}
.login-image {
  width: 30px; /* Ajusta el tamaño que prefieras */
  height: auto; /* Mantiene la proporción de la imagen */
  display: block;
  margin: 0 auto 20px; /* Centra la imagen y añade espacio debajo */
}

  
